/*-------------------- CSS for CARDS --------------------*/
.card {
	border-radius: 16px;
	border-width: 2px;
	border-color: var(--theme-col);

	background: var(--bg-col);
	height: 16rem;
    width: 100%;
    
    transition: 475ms ease-out;

    /* For the card-footer animation on hover */
    overflow: hidden;
}

.card-title {
    /* For text wrapping with ellipsis */
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
    font-size: 2rem;
    font-weight: 800;

	transition: 250ms ease-out;
}

.card-subtitle {
    /* For text wrapping with ellipsis */
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;

	transition: 325ms ease-out;
}

.card-text {
    /* For text wrapping with ellipsis */
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;

    transition: 400ms ease-out;
}

.card-footer {
    background: var(--theme-25);

    position: relative;
    top: 4rem;

    width: 100%;
    height: 4rem;

    transition: 475ms ease-out;
}

.card:hover .card-title {
	transform: translate(0, -2.5rem);
    transform-origin: top left;
    font-size: 1.25rem;
}

.card:hover .card-subtitle {
	transform: translate(0, -2.5rem);
    transform-origin: top left;
}

.card:hover .card-text {
	transform: translate(0, -2.5rem);
    transform-origin: top left;
}

.card:hover .card-footer {
    top: 0rem;
}

