/* 
    * ---------- Styling FOR app.component.html ----------
    |
    | NOTES:
    | * Colors have been declared in src/styles.css and they are system-theme-aware
    |
    * ----------------------------------------------------
*/

/* ======================================================== */
/* ==================== NAVBAR STYLING ==================== */
/* ======================================================== */

@media(min-width: 576px) {
    /* --- THIS IS WHEN VIEWPORT IS DESKTOP-LIKE --- */

    .navbar {
        padding: 0;
        /* The below is so that the text under the navbar (which is card-like) is'nt visible */
        background-image: linear-gradient(var(--bg-col) 95%, rgba(0,0,0,0) 5%);
    }
    
    .navbar .container {
        background-color: var(--bg-col);
        border: 1px solid var(--border-col);
        border-radius: 8px;
        filter: drop-shadow(0 0.2rem 0.8rem var(--theme-25));
    }

    .nav-link {
        /* Changing the below line would also change the height of the navbar */
        padding: 16px 0;
    }

    .navbar-nav > li {
        /* For colored line under Active Nav Link, Styling done by the below written pseudo class ':after' */
        position: relative;
    }

    .active::after {
        /* This is for the glow-like highlighting of active route in the navbar */
        background-image: linear-gradient(rgba(0,0,0,0) 8%, var(--theme-25) 84%, var(--theme-col) 8%);
        height: 12px;
        bottom: 0;
        content: " ";
        left: 0;
        position: absolute;
        right: 0;
    }

}

@media(max-width: 575px) {
    /* --- THIS IS WHEN THE VIEWPORT IS MOBILE-LIKE --- */

    .navbar {
        /* Padding, BG Color, Borders, Drop shadow of the navbar on MOBILE-LIKE viewport */
        padding: 12px 0;
        background-color: var(--bg-col);
        border-bottom: 1px solid var(--border-col);
        filter: drop-shadow(0 0.24rem 0.8rem var(--theme-25));
    }

    .active {
        /* Active navlink highlighting on mobile-like viewport */
        border-left: 4px solid var(--theme-col);
        font-weight: 500;
        padding: 0rem 0.5rem;
        margin: 0.5rem 0;
    }

}

/* Theme appropiate Navbar Coloring */
.nav-link {
    color: var(--link-col);
}

.nav-link:hover {
    color: var(--text-col);
}

.active {
    color: var(--text-col);
}

.navbar-brand {
    color: var(--text-col);
    font-weight: 700;
}

/* ================================================================ */
/* ==================== HAMBURGER ICON STYLING ==================== */
/* ================================================================ */

/*
    *   This is a Hamburger Icon with animation
    *   Three divs have been used to represent three lines of the hamburger icon
    *   If the boolean hamToggle (in "app.component.ts") is true, hamOpen class is attached to 
        the below div, which is styled such that it fades the middle line and orients the two 
        lines such that they represent "X" (Close)
*/

.navbar-toggler:focus {
    /* To remove the default 'border-on-click' effect of Bootstrap on a button */
    box-shadow: none !important;
}

.hamBar1, .hamBar2, .hamBar3 {
    width: 24px;
    height: 2px;
    background-color: var(--text-col);
    margin: 6px 0;
    transition: 300ms;
}

.hamOpen .hamBar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
.hamOpen .hamBar2 {opacity: 0;}
.hamOpen .hamBar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}
