<!-- NAVIGATION BAR -->
<nav class="navbar navbar-expand-sm navbar-light shadow">
    <div class="container-fluid">
        <a routerLink="home" class="navbar-brand px-2">
            TwoMinus
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navLinks">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navLinks">
            <ul class="navbar-nav">
                <li class="nav-item px-2">
                    <a routerLink="store" routerLinkActive="active" class="nav-link fw-bold">Store</a>
                </li>
                <li class="nav-item px-2">
                    <a routerLink="about" routerLinkActive="active" class="nav-link fw-bold">About</a>
                </li>
                <li class="nav-item px-2">
                    <a routerLink="support" routerLinkActive="active" class="nav-link fw-bold">Support</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

<style>
    /* Styling for active router link */
    @media(min-width: 576px) {
        .active {
            border-bottom: 2px solid cornflowerblue;
            font-weight: 500;
        }
    }

    @media(max-width: 575px) {
        .active {
            border-left: 4px solid cornflowerblue;
            font-weight: 500;
            padding: 0rem 0.5rem;
            margin: 0.5rem 0;
        }
    }

    /* NAVBAR BRAND STYLING */
    .navbar-brand {
        font-weight: 700;
        font-size: 1.5rem;
    }
</style>