/* 
    * ----------------------------------------------------
    |
    | NOTES:
    | * Colors have been declared in src/styles.css and they are system-theme-aware
    |
    * ----------------------------------------------------
*/

/* ======================================================== */
/* NAVBAR STYLING                                           */
/* ======================================================== */

@media(min-width: 768px) {
    /* --- THIS IS WHEN VIEWPORT IS DESKTOP-LIKE --- */

    .navbar {
        background-color: var(--bg-col);
    }
    
    .navbar .container {
        align-items: center;
    }

    .nav-link {
        /* Changing the below lines would also change the height of the navbar */
        padding: 16px 0;
        margin: 0 8px;
    }

    .navbar-nav > li {
        /* position-relative for achieving "colored pill" under Active Nav Link, Styling done by the below written pseudo class ':after' */
        position: relative;
    }

    .active::after {
        /* For the "colored pill" style to indicate Active Nav Link */   
        background-color: var(--theme-col);
        border-radius: 2px;
        content: " ";
        height: 4px;
        width: 16px;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
    } 
    
}

@media(max-width: 767px) {
    /* --- THIS IS WHEN THE VIEWPORT IS MOBILE-LIKE --- */

    .navbar {
        /* BG Color, Borders of the navbar on MOBILE-LIKE viewport */
        background-color: var(--bg-col);
        border-bottom: 1px solid var(--border-col);
        /* filter: drop-shadow(0 0.24rem 0.8rem var(--theme-25)); */
    }

    .navbar-brand {
        padding: 16px 0;
    }

    .nav-link {
        padding: 8px;
        margin: 8px 0;
    }

    .active {
        /* Active navlink highlighting on mobile-like viewport */
        border: 2px solid var(--theme-col);
        font-weight: 500;
    }

}

.nav-item {
    /* For removing default left margin of list items */
    margin-left: 0 !important;
}

/* Theme appropiate Navbar Coloring */
.nav-link {
    color: var(--link-col);
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 2px;

    /* The below is just so that the "hover" highlight remains rounded */
    border-radius: 16px; 
}

.nav-link:hover {
    color: var(--text-col);
    background-color: var(--theme-25);
    transition: 200ms ease-in;
}

.active {
    color: var(--text-col);
}

.navbar-brand {
    color: var(--text-col);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 6px;
}

/* ================================================================ */
/* HAMBURGER ICON STYLING                                           */
/* ================================================================ */

/*
    *   This is a Hamburger Icon with animation
    *   Three divs have been used to represent three lines of the hamburger icon
    *   If the boolean hamToggle (in "app.component.ts") is true, hamOpen class is attached to 
        the below div, which is styled such that it fades the middle line and orients the two 
        lines such that they represent "X" (Close)
*/

.navbar-toggler:focus {
    /* To remove the default 'border-on-click' effect of Bootstrap on a button */
    box-shadow: none !important;
}

.hamBar1, .hamBar2, .hamBar3 {
    width: 24px;
    height: 2px;
    background-color: var(--text-col);
    margin: 6px 0;
    transition: 300ms;
}

.hamOpen .hamBar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
.hamOpen .hamBar2 {opacity: 0;}
.hamOpen .hamBar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}