<!-- NAVIGATION BAR -->
<nav class="navbar navbar-expand-sm navbar-light bg-light shadow fixed-top">
    <div class="container-fluid">
        <a routerLink="home" class="navbar-brand px-3">
            TwoMinus
        </a>
        <button class="navbar-toggler border-0" (click)="changeHamStatus()" type="button" data-bs-toggle="collapse" data-bs-target="#navLinks">
            <!-- If the boolean hamToggle (in component class) is true, hamOpen class is attached to the below div -->
            <div class="hamburger" [ngClass]="{'hamOpen': hamToggle}">
                <div class="hamBar1"></div>
                <div class="hamBar2"></div>
                <div class="hamBar3"></div>
            </div>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navLinks">
            <ul class="navbar-nav">
                <li class="nav-item mx-3">
                    <a routerLink="store" routerLinkActive="active" class="nav-link fw-bold">Store</a>
                </li>
                <li class="nav-item mx-3">
                    <a routerLink="about" routerLinkActive="active" class="nav-link fw-bold">About</a>
                </li>
                <li class="nav-item mx-3">
                    <a routerLink="support" routerLinkActive="active" class="nav-link fw-bold">Support</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" style="padding-top: 6rem;">
    <router-outlet></router-outlet>
    <h1>Test - Scroll Down - Fixed Navbar</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
</div>

<style>
    /* NAVBAR STYLING */
    @media(min-width: 576px) {

        .navbar {
            /* This is so that the underline of active link appears sticked to the bottom of the navbar */
            padding: 0;
        }

        .nav-link {
            /* Changing this would also change the height of the navbar */
            padding: 16px 0;
        }

        .navbar-nav > li {
            /* For Underlining Active Nav Link || Done by pseudo class ':after' */
            position: relative;
        }

        .active::after {
            background-color: cornflowerblue;
            height: 4px;
            bottom: 0;
            content: " ";
            left: 0;
            position: absolute;
            right: 0;
        }

    }

    @media(max-width: 575px) {

        .navbar {
            /* Padding of the navbar on mobile-like viewport */
            padding: 12px 0;
        }

        .active {
            /* Active navlink highlighting */
            border-left: 4px solid cornflowerblue;
            font-weight: 500;
            padding: 0rem 0.5rem;
            margin: 0.5rem 0;
        }
    }

    /* NAVBAR BRAND STYLING */
    .navbar-brand {
        font-weight: 700;
    }

    /* HAMBURGER STYLING */
    .hamBar1, .hamBar2, .hamBar3 {
        width: 24px;
        height: 2px;
        background-color: black;
        margin: 6px 0;
        transition: 300ms;
    }

    .hamOpen .hamBar1 {
        -webkit-transform: rotate(-45deg) translate(-6px, 6px);
        transform: rotate(-45deg) translate(-6px, 6px);
    }
    .hamOpen .hamBar2 {opacity: 0;}
    .hamOpen .hamBar3 {
        -webkit-transform: rotate(45deg) translate(-6px, -6px);
        transform: rotate(45deg) translate(-6px, -6px);
    }

</style>