/* 
    * ---------- GLOBAL STYLES - styles.css ----------
    |
    | NOTES:
    | * Colors have been declared here and they are system-theme-aware
    | * Default Font: Work Sans (Google Fonts)
    |
    * ----------------------------------------------------
*/

:root {
    --bg-col: #fbfbfb;
    --text-col: #262626;
    --link-col: #4d4d4d;
    --border-col: #dedede;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-col: #262626;
        --text-col: #fbfbfb;
        --link-col: #a4a4a4;
        --border-col: #3d3d3d;
    }
}

body {
    background-color: var(--bg-col);
    color: var(--text-col);
    font-family: 'Work Sans', sans-serif;
}