<div class="full-page d-flex flex-column justify-content-evenly align-items-center">
    <img class="img-fluid dark-compatible-png" src="assets/welcome.png" alt="welcome" height="400px" width="400px">
    <h1 class="global-titles text-center">Where smartphone users meet smartphone makers</h1>
</div>

<div class="full-page d-flex flex-column">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio repudiandae modi placeat repellat maiores reprehenderit necessitatibus minus rerum temporibus eligendi illo at, id asperiores, odit ullam dolor quidem eaque. Mollitia?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio repudiandae modi placeat repellat maiores reprehenderit necessitatibus minus rerum temporibus eligendi illo at, id asperiores, odit ullam dolor quidem eaque. Mollitia?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio repudiandae modi placeat repellat maiores reprehenderit necessitatibus minus rerum temporibus eligendi illo at, id asperiores, odit ullam dolor quidem eaque. Mollitia?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio repudiandae modi placeat repellat maiores reprehenderit necessitatibus minus rerum temporibus eligendi illo at, id asperiores, odit ullam dolor quidem eaque. Mollitia?</p>
</div>
