<div class="text-center my-4">
    <img class="img-fluid dark-compatible-png my-4" src="assets/welcome.png" alt="welcome" height="400px" width="400px">
    <h1 class="global-titles text-center my-4">Where smartphone users meet smartphone makers</h1>
</div>

<div class="mt-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio repudiandae modi placeat repellat maiores reprehenderit necessitatibus minus rerum temporibus eligendi illo at, id asperiores, odit ullam dolor quidem eaque. Mollitia?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio repudiandae modi placeat repellat maiores reprehenderit necessitatibus minus rerum temporibus eligendi illo at, id asperiores, odit ullam dolor quidem eaque. Mollitia?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio repudiandae modi placeat repellat maiores reprehenderit necessitatibus minus rerum temporibus eligendi illo at, id asperiores, odit ullam dolor quidem eaque. Mollitia?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio repudiandae modi placeat repellat maiores reprehenderit necessitatibus minus rerum temporibus eligendi illo at, id asperiores, odit ullam dolor quidem eaque. Mollitia?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente illum modi sit laborum voluptatem enim rerum quia quod error veniam unde incidunt itaque nisi aperiam ipsum, tempora, corrupti quam nihil.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente illum modi sit laborum voluptatem enim rerum quia quod error veniam unde incidunt itaque nisi aperiam ipsum, tempora, corrupti quam nihil.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente illum modi sit laborum voluptatem enim rerum quia quod error veniam unde incidunt itaque nisi aperiam ipsum, tempora, corrupti quam nihil.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente illum modi sit laborum voluptatem enim rerum quia quod error veniam unde incidunt itaque nisi aperiam ipsum, tempora, corrupti quam nihil.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente illum modi sit laborum voluptatem enim rerum quia quod error veniam unde incidunt itaque nisi aperiam ipsum, tempora, corrupti quam nihil.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente illum modi sit laborum voluptatem enim rerum quia quod error veniam unde incidunt itaque nisi aperiam ipsum, tempora, corrupti quam nihil.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente illum modi sit laborum voluptatem enim rerum quia quod error veniam unde incidunt itaque nisi aperiam ipsum, tempora, corrupti quam nihil.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente illum modi sit laborum voluptatem enim rerum quia quod error veniam unde incidunt itaque nisi aperiam ipsum, tempora, corrupti quam nihil.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente illum modi sit laborum voluptatem enim rerum quia quod error veniam unde incidunt itaque nisi aperiam ipsum, tempora, corrupti quam nihil.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente illum modi sit laborum voluptatem enim rerum quia quod error veniam unde incidunt itaque nisi aperiam ipsum, tempora, corrupti quam nihil.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente illum modi sit laborum voluptatem enim rerum quia quod error veniam unde incidunt itaque nisi aperiam ipsum, tempora, corrupti quam nihil.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente illum modi sit laborum voluptatem enim rerum quia quod error veniam unde incidunt itaque nisi aperiam ipsum, tempora, corrupti quam nihil.</p>

</div>
